@charset "UTF-8";

html, body {
  font-size: 62.5%;
}
html {
  max-width: 414px;
  font-family: 'Poppins', sans-serif;
  margin: auto;
}
.none {
  display: none;
}
.fix-head {
  position: sticky;
  top: 0;
}
.back-btn, h2 {
  font-size: 2rem;
  /* padding: 10px; */
}
.back-btn {
  font-weight: bold;
}